<!DOCTYPE html>

<html>

<head>
  <title>
    Help
  </title>
  <link rel="stylesheet" href="/css/styles.css"
</head>

<body>
    <div class="min-content">
    {{>header}}
     <p>Use this for help</p>
  </div>
  {{>footer}}

</body>
</html>