body{
    color: #333333;
    font-family:Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display:flex;
    flex-direction: column;
    min-height:100vh;
}

#m1{
    color:rgb(28, 46, 104);
    font-weight: bold;
    font-size:large;
}


#m2{
    color:rgb(36, 27, 114);
    font-weight: bold;
    font-size:large;
}

#m3{
    color:black;
    font-weight: bold;
    font-size: 30px;
}

.min-content{
    flex-grow: 1;
}

footer {
    background:#888888;
    border-top: 1px solid #eeeeee;
    margin-top :16px;
    padding: 16px 0;
}

header{
    margin-top: 16px;
    margin-bottom:64px;

}

h1{
    font: size 200px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}
